:root {
  --basic-background-color: #ffffff;
  --brand-background-color: #2f303a;
  --section-background-color: #e5e5e5;
  --section-background-color-comand: #f5f4fa;
  --text-color-accent: #2196f3;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --color-logo: #000000;
  --section-background-menu: #eeeeee;
}

body {
  font-family: 'Roboto';
}

body ul,
a {
  list-style: none;
  text-decoration: none;
}

.title {
  text-align: center;
  color: var(--text-color-primary);
}

/* header */
.header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header a {
  color: var(--text-color-primary);
}

.contacts a {
  color: var(--text-color-secondary);
}

.link.active {
  color: var(--text-color-accent);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-decoration {
  color: var(--text-color-accent);
}

.link:hover,
.link:focus {
  color: var(--text-color-accent);
}

/* hero */
.hero {
  background-color: var(--brand-background-color);
}

.title.hero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.hero button {
  width: 200;
  height: 50;
  background-color: var(--text-color-accent);
  color: var(--basic-background-color);
  border: 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* benefits */
.benefits .title,
.menu .title {
  display: none;
}

.header,
.benefits,
.our-work,
.menu {
  background-color: var(--header-background-color);
}
.benefits .sub-title {
  color: var(--text-color-primary);
  text-transform: uppercase;
  text-align: left;
}

.benefits .text {
  color: var(--text-color-secondary);
  text-align: left;
}

/* comand */
.comand {
  background-color: var(--section-background-color-comand);
}
.worker-name {
  color: var(--text-color-primary);
}

.job-title {
  color: var(--text-color-secondary);
}

/* menu portfolio */
.menu-list button {
  background-color: var(--section-background-menu);
  color: var(--text-color-primary);
}

.project-name {
  color: var(--text-color-primary);
}

.project-type {
  color: var(--text-color-secondary);
}

.menu-list button:hover,
.menu-list button:focus {
  background-color: var(--text-color-accent);
  color: var(--basic-background-color);
}

/* footer */
.footer {
  background-color: var(--brand-background-color);
}

.footer .logo {
  color: var(--basic-background-color);
}

.address-list .link {
  color: var(--text-color-secondary);
  text-align: left;
  font-style: normal;
}

.address-list .link.address {
  color: var(--basic-background-color);
}
