:root {
  --header-background-color: #ececec;
  --brand-background-color: #2f303a;
  --section-background-color: #e5e5e5;
  --section-background-color-comand: #f5f4fa;
  --text-color-accent: #2196f3;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --color-logo: #000000;
}
